svg {
    position: relative;
    width: 100%;
    height: 100%;
}
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
div.tooltip {
    position: relative;
    text-align: center;
    width: 200px;
    height: 90px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
#map canvas {
    cursor: crosshair;
}

#toggleFire{
    text-align: center;
    position: relative;
    font-size: x-large;
}
#toggleTerror{
    text-align: center;
    position: relative;
    font-size: x-large;
}
#toggleCorona{
    text-align: center;
    position: relative;
    font-size: x-large;
}

#boxes{
    text-align: center;
    margin: 0 auto;
    width: 1400px;
    display: flex;
    justify-content: space-around;
}
